DisableUserAccount/azuredeploy.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "Tenant_ID": {
                "defaultValue": "4ccdd9df-c201-4d7b-b4b5-419eb462fdd5",
                "type": "String"
            },
            "Client_ID": {
                "defaultValue": "3c006575-ef41-4aa9-98f2-5b9b751db624",
                "type": "String"
            },
            "Workspace_ID": {
                "defaultValue": "0d5eeaad-cb89-457a-ae38-d182066dd724",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        },
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "account": {
                                "type": "string"
                            },
                            "incident_id": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Get_secret": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('MDR-DisableUserAccount')}/value"
                },
                "runAfter": {}
            },
            "GraphAPI_Login": {
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/@{parameters('Tenant_ID')}/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "queries": {
                        "client_id": "@{parameters('Client_ID')}",
                        "client_secret": "@{body('Get_secret')?['value']}",
                        "grant_type": "client_credentials",
                        "scope": "https://graph.microsoft.com/.default"
                    },
                    "body": "client_id=@{parameters('Client_ID')}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_secret=@{body('Get_secret')?['value']}&grant_type=client_credentials"
                },
                "runAfter": {
                    "Get_secret": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['account']}",
                    "method": "PATCH",
                    "headers": {
                        "Authorization": "Bearer @{body('GraphAPI_Login')['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "accountEnabled": false
                    }
                },
                "runAfter": {
                    "GraphAPI_Login": [
                        "Succeeded"
                    ]
                }
            },
            "PlaceholderforSubject": {
                "type": "Compose",
                "inputs": "Conosco - User account disabled due to a security incident",
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "PlaceHolderforMessage": {
                "type": "Compose",
                "inputs": "User account @{triggerBody()?['account']} has been disabled as part of Conosco SOC's autoremediation. The account should only be enabled after all remediation steps have been successful.",
                "runAfter": {
                    "PlaceholderforSubject": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": {
                        "status": "success"
                    }
                },
                "runAfter": {
                    "PlaceHolderforMessage": [
                        "Succeeded"
                    ]
                }
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}
