BlockIPviaConditionalAccess/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Azure region for the Logic App and connections"
            }
        },
        "tenantId": {
            "type": "string",
            "defaultValue": "4ccdd9df-c201-4d7b-b4b5-419eb462fdd5",
            "metadata": {
                "description": "Azure AD Tenant ID"
            }
        },
        "clientId": {
            "type": "string",
            "defaultValue": "352a4e02-cc2b-4e95-8702-97f8b91e3569",
            "metadata": {
                "description": "Client ID for Microsoft Graph API authentication"
            }
        },
        "workspaceId": {
            "type": "string",
            "defaultValue": "0d5eeaad-cb89-457a-ae38-d182066dd724",
            "metadata": {
                "description": "Azure Sentinel Workspace ID"
            }
        },
        "keyVaultName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Key Vault containing secrets"
            }
        },
        "office365ConnectionName": {
            "type": "string",
            "defaultValue": "office365-3",
            "metadata": {
                "description": "Name of the Office 365 API connection"
            }
        },
        "teamsConnectionName": {
            "type": "string",
            "defaultValue": "teams",
            "metadata": {
                "description": "Name of the Microsoft Teams API connection"
            }
        },
        "sentinelConnectionName": {
            "type": "string",
            "defaultValue": "azuresentinel-13",
            "metadata": {
                "description": "Name of the Azure Sentinel API connection"
            }
        },
        "keyVaultConnectionName": {
            "type": "string",
            "defaultValue": "keyvault",
            "metadata": {
                "description": "Name of the Key Vault API connection"
            }
        },
        "keyVaultConnectionName2": {
            "type": "string",
            "defaultValue": "keyvault-1",
            "metadata": {
                "description": "Name of the second Key Vault API connection"
            }
        }
    },
    "resources": [
        // Key Vault API Connection
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('keyVaultConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('keyVaultConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                },
                "parameterValues": {
                    "vaultName": "[parameters('keyVaultName')]"
                },
                "authentication": {
                    "type": "ManagedServiceIdentity"
                }
            }
        },
        // Second Key Vault API Connection
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('keyVaultConnectionName2')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('keyVaultConnectionName2')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                },
                "parameterValues": {
                    "vaultName": "[parameters('keyVaultName')]"
                },
                "authentication": {
                    "type": "ManagedServiceIdentity"
                }
            }
        },
        // Office 365 API Connection
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('office365ConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                }
            }
        },
        // Teams API Connection
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('teamsConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('teamsConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
                }
            }
        },
        // Azure Sentinel API Connection
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('sentinelConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('sentinelConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                },
                "authentication": {
                    "type": "ManagedServiceIdentity"
                }
            }
        },
        // Logic App
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "Tenant_ID": {
                            "defaultValue": "[parameters('tenantId')]",
                            "type": "String"
                        },
                        "Client_ID": {
                            "defaultValue": "[parameters('clientId')]",
                            "type": "String"
                        },
                        "Workspace_ID": {
                            "defaultValue": "[parameters('workspaceId')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ipaddress": {
                                            "type": "string"
                                        },
                                        "incident_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_secret": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('MonthlySOCReport')}/value"
                            },
                            "runAfter": {
                                "InitializeNamedLocationID": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "GraphAPI_Login": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://login.microsoftonline.com/@{parameters('Tenant_ID')}/oauth2/v2.0/token",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "queries": {
                                    "client_id": "[parameters('clientId')]",
                                    "client_secret": "@{body('Get_secret')?['value']}",
                                    "grant_type": "client_credentials",
                                    "scope": "https://graph.microsoft.com/.default"
                                },
                                "body": "client_id=[parameters('clientId')]&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_secret=@{body('Get_secret')?['value']}&grant_type=client_credentials"
                            },
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "soc@conosco.com",
                                    "Subject": "Conosco - User account disabled due to a security incident.",
                                    "Body": "<p class=\"editor-paragraph\">User account @{triggerBody()?['account']} has been disabled as part of Conosco SOC's autoremediation. The account should only be enabled after all remediation steps have been successful.</p>"
                                },
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Post_message_in_a_chat_or_channel": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "recipient": {
                                        "groupId": "aa931da4-0d98-4d13-9d9e-a74397d3f03b",
                                        "channelId": "19:cca12820b0134ec495ce6cf38724808f@thread.tacv2"
                                    },
                                    "messageBody": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Conosco - User account disabled due to a security incident.</strong></b><br><br>User account @{triggerBody()?['account']} has been disabled as part of Conosco SOC's autoremediation. The account should only be enabled after all remediation steps have been successful.</p>"
                                },
                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                            },
                            "runAfter": {
                                "Send_an_email_(V2)": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Add_comment_to_incident_(V3)": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['incident_id']",
                                    "message": "<p class=\"editor-paragraph\">User account @{triggerBody()?['account']} has been disabled as part of Conosco SOC's autoremediation. The account should only be enabled after all remediation steps have been successful.</p>"
                                },
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Post_message_in_a_chat_or_channel": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Response": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "status": "success"
                                }
                            },
                            "runAfter": {
                                "Add_comment_to_incident_(V3)": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "GetNamedLocations": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/namedLocations",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "Bearer @{body('GraphAPI_Login')['access_token']}"
                                }
                            },
                            "runAfter": {
                                "GraphAPI_Login": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "InitializeArray": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LocationsArray",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "For_each": {
                            "type": "Foreach",
                            "foreach": "@body('GetNamedLocations')['value']",
                            "actions": {
                                "Condition": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@item()['displayName']",
                                                    "MaliciousIPs"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "ForEachIPRange": {
                                            "type": "Foreach",
                                            "foreach": "@items('For_each')['ipRanges']",
                                            "actions": {
                                                "Append_to_array_variable": {
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "LocationsArray",
                                                        "value": "@items('ForEachIPRange')"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "SetNamedLocationID": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "AppendMaliciousIP": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "LocationsArray",
                                                "value": {
                                                    "@@odata.type": "#microsoft.graph.iPv4CidrRange",
                                                    "cidrAddress": "109.70.100.6/32"
                                                }
                                            },
                                            "runAfter": {
                                                "ForEachIPRange": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "SetNamedLocationID": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "NamedLocationID",
                                                "value": "@items('For_each')['id']"
                                            }
                                        },
                                        "UpdateNamedLocation": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/namedLocations/@{variables('NamedLocationID')}",
                                                "method": "PATCH",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('GraphAPILoginAgain')['access_token']}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "@@odata.type": "#microsoft.graph.ipNamedLocation",
                                                    "id": "@{items('For_each')['id']}",
                                                    "displayName": "@{items('For_each')['displayName']}",
                                                    "isTrusted": false,
                                                    "ipRanges": "@variables('LocationsArray')"
                                                }
                                            },
                                            "runAfter": {
                                                "AppendMaliciousIP": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "ResetArray": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "ResetArray": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "LocationsArray",
                                        "value": []
                                    }
                                }
                            },
                            "runAfter": {
                                "GraphAPILoginAgain": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "GraphAPILoginAgain": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://login.microsoftonline.com/@{parameters('Tenant_ID')}/oauth2/v2.0/token",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "queries": {
                                    "client_id": "[parameters('clientId')]",
                                    "client_secret": "@{body('Get_secret_Again')?['value']}",
                                    "grant_type": "client_credentials",
                                    "scope": "https://graph.microsoft.com/.default"
                                },
                                "body": "client_id=[parameters('clientId')]&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_secret=@{body('Get_secret_Again')?['value']}&grant_type=client_credentials"
                            },
                            "runAfter": {
                                "Get_secret_Again": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Get_secret_Again": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault-1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('MDR-BlockIP')}/value"
                            },
                            "runAfter": {
                                "GetNamedLocations": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "InitializeNamedLocationID": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NamedLocationID",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "InitializeArray": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName'))]",
                                "connectionName": "[parameters('keyVaultConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                            },
                            "keyvault-1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName2'))]",
                                "connectionName": "[parameters('keyVaultConnectionName2')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                            },
                            "office365_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                                "connectionName": "[parameters('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('teamsConnectionName'))]",
                                "connectionName": "[parameters('teamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
                            },
                            "azuresentinel-1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sentinelConnectionName'))]",
                                "connectionName": "[parameters('sentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName2'))]",
                "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('teamsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('sentinelConnectionName'))]"
            ]
        }
    ]
}
